.sidebar {
  height: 100vh;

  .custom-logo {
    height: 52px;
    margin-left: 16px;
  }

  .el-menu {
    border: none;
  }

  .menu-scrollbar {
    height: calc(100vh - 52px);
    padding: 0 5px;
    box-sizing: border-box;
  }
}

:deep(.el-menu-item:hover) {
  background: transparent;
  color: var(--el-color-primary);
}

:deep(.el-sub-menu__title:hover) {
  background-color: transparent;
  color: var(--el-color-primary);
}

:deep(.el-menu-item.is-active) {
  background-color: var(--el-color-primary);
  border-radius: 5px;
  color: #fff;
}
