.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;

  &-left {
    display: flex;
    align-items: center;

    .icon-style-form {
      transition: all 0.3s;
      transform: rotate(180deg);
    }

    .bread-crumb {
      margin-left: 1rem;
    }
  }

  &-right {
    display: flex;
    align-items: center;
  }
}
