.dashboard-echart {
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: var(--el-bg-color);
  &-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-left {
      font-size: 1.2rem;
    }
  }
  &-content {
    background-color: var(--el-bg-color);
    height: 360px;
  }
}
