.el-dropdown-link {
  display: flex;
  align-items: center;
  margin-left: 15px;
  cursor: pointer;

  .avatar-img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 5px;
  }
}
