.layout {
  height: 100vh;
  display: flex;

  &-sidebar {
    width: 200px;
    min-width: 200px;
    height: 100vh;
    border-right: 1px solid var(--el-border-color);
    transition: all 0.3s;
    overflow: hidden;
  }

  &-sidebar-collapsed {
    width: 65px;
    min-width: 65px;
  }

  &-container {
    display: flex;
    flex-direction: column;
    flex: 1;

    &-header {
      height: 52px;
      border-bottom: 1px solid var(--el-border-color);
    }

    &-tags {
      height: 52px;
      width: calc(100vw - 200px);
      border-bottom: 1px solid var(--el-border-color);
    }

    &-tags-collapsed {
      width: calc(100vw - 65px);
    }

    &-content {
      overflow-x: hidden;
      overflow-y: auto;
      background-color: var(--el-bg-color-page);
      box-sizing: border-box;

      &-grow {
        padding: 10px;
        min-height: calc(100% - 40px);
      }
    }
  }

  .scroll-top {
    position: fixed;
    right: 20px;
    bottom: 20px;
  }
}
